*.ini
.git/objects/4f/9143fe1b6c605f8306c1db93be61dccf6afb22
ads/comentário_do_gabarito_da_AD2-2019-2.mp4
javaacademy_webinares/JAVA_ACADEMY_-_WEBINAR_01.mp4
javaacademy_webinares/JAVA_ACADEMY_-_WEBINAR_02.mp4
video_aulas/Programação_Orientada_a_Objeto_01.mp4
video_aulas/Programação_Orientada_a_Objeto_02.mp4
video_aulas/Programação_Orientada_a_Objeto_03.mp4
video_aulas/Programação_Orientada_a_Objeto_04.mp4
video_aulas/Programação_Orientada_a_Objeto_05.mp4
video_aulas/Programação_Orientada_a_Objeto_06.mp4
video_aulas/Programação_Orientada_a_Objeto_07.mp4
video_aulas/Programação_Orientada_a_Objeto_08.mp4
video_aulas/Programação_Orientada_a_Objeto_09.mp4
video_aulas/Programação_Orientada_a_Objeto_10.mp4
video_aulas/Programação_Orientada_a_Objeto_11.mp4
video_aulas/Programação_Orientada_a_Objeto_12.mp4
ads/comentário_do_gabarito_da_AD2-2019-2.mp4
